.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
*.iml
/coverage/
*.log
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
examples/github_client/android/gradle/wrapper/gradle-wrapper.properties
